version: "3.7"

networks:
  dev-network:
    driver: bridge
    name: dev-network
volumes:
  postgres-data:
  pgadmin:

services:
  app:
    depends_on:
      - postgresql
      - redis
    build:
      context: .
    tty: true
    container_name: app
    ports:
      - "3333:3000"
    restart: always
    command: start.sh
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: postgresql
      DB_USER: root
      DB_PASSWORD: 123456
    networks:
      - dev-network

  postgresql:
    image: postgres:14
    restart: on-failure
    container_name: postgresql
    volumes:
      # Mount the DB dumps folder into the container, to be able to create & access database dumps:
      - ./db/dumps:/db/dumps
      # Mount out tmp folder, we might want to have access to something there during development:
      - ./tmp:/tmp
      # Mount our 'restoredb' script:
      - ./bin/restoredb:/bin/restoredb:ro
      # Mount our 'dumpdb' script:
      - ./bin/dumpdb:/bin/dumpdb:ro
      # We'll mount the 'postgres' volume into the location Postgres stores it's data:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
    networks:
      - dev-network

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin

    ports:
      - "5050:80"
    networks:
      - dev-network
    restart: always
  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6378:6379"
    networks:
      - dev-network
